<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <!-- ★課題：日付で投稿を絞り込める機能追加 -->
    <div>
        <form action="./" method="get">
            日付
            <input type="date" name="startDate" th:value="${startDate}">
            ～
            <input type="date" name="endDate" th:value="${endDate}">
            <input type="submit" value="絞り込み">
        </form>
    </div>
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="date">
            投稿日 : <span th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm')}"></span>
        </div>

        <!-- method 属性に delete を記述すると自動的にPOST送信になり、
        「<input type=”hidden” name=”_method” value=”delete”>」も自動的に追記される -->
        <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
            <input type="submit" value="削除"/>
        </form>
        <a th:href="@{/edit/{id}(id=${content.id})}">
            <button class="edit-button" type="button">編集</button>
        </a>
        <!-- コメントエリア -->
        <div class="comment">
            <form method="post" action="/addComment">
                <!-- コメントエリア -->
                <div class="comment-area">
                    <label>コメント内容</label>
                    <textarea class="comment-box" name="text" size="20" maxlength="200"></textarea><br/>
                    <input name="messageId" th:value="${content.id}" type="hidden">

                    <!-- エラーメッセージ表示エリア -->
                        <p th:errors="${commentForm.text}" style="color:red;"></p>
                    <!-- コメント「返信ボタン」 -->
                    <input type="submit" value="返信" />
                </div>
            </form>
        </div>
        <!-- 投稿IDに紐づいたコメントの一覧表示（古い順） -->
        <div class="message-icon" th:each="comment : ${comments}">
            <div th:if="${comment.messageId} == ${content.id}">
                <div class="comment">
                    コメント : <span th:text="${comment.text}"/>
                </div>
                <!-- ★課題：コメント編集機能追加 -->
                <div class="edit-button">
                    <a th:href="@{/editComment/{id}(id=${comment.id})}">
                        <input type="button" value="編集">
                    </a>
                </div>
                <!-- ★課題：コメント削除機能追加 -->
                <div class="delete-button">
                    <!-- 実際に記述する際に method 属性に delete を記述すると自動的にPOST送信になり、
                    「<input type=”hidden” name=”_method” value=”delete”>」も自動的に追記される -->
                    <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
